@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: 'Inter', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__conteudo {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__conteudo__caixa {
    margin: 0 6rem;
}

.container__conteudo__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__conteudo__imagem {
    margin: 1rem 0 2rem 0;
}

.container__conteudo__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1rem;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
    transition: 0.5s all ease-in-out;
}

.container__conteudo__botao:hover {
    transform: scale(1.1);
}

.container__conteudo__botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
    border-radius: 5px;
    padding: 1rem;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
    transition: 0.5s all ease-in-out;
}

.container__conteudo__botao_secundario:hover {
    transform: scale(1.1);
}

.container__conteudo__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 6rem;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.botao__secundario {
    display: inline-block;
    margin-top: 1rem;
}

.container__conteudo__descricao {
    padding: 2rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}

.dispositivos__titulos {
    font-size: 3rem;
    font-weight: 700;
    color: var(--branco-principal);
}

.list-item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 10rem 5rem 3rem 5rem;
}

.rodape__lista {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.lista__link a {
    color: var(--branco-principal);
    text-decoration: none;
    font-size: 1rem;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.rodape__texto {
    font-size: 0.87rem;
    color: var(--cinza-secundario);
    text-align: center;
    
}